/* Normal Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
    /* border: 2px solid red;  */
}

.bg-landing-forum {
    background-image: url(/public/assets/images/bg-forum.png);
}

.bg-landing {
    background-image: url(/public/assets/images/bg.png);
    background-size: cover;
}

.bg-landing2 {
    background-image: url(/public/assets/images/bg2.png);
    background-size: cover;
}

.bg-about {
    background-image: url(/public/assets/images/bg-about2.png);
    background-size: cover;
}

@layer components {
    .navbar-link-active {
        @apply text-white bg-dy md:bg-transparent md:text-dy transition duration-300;
    }

    .navbar-link-inactive {
        @apply text-gray-900 hover:bg-gray-100 md:hover:bg-transparent md:hover:text-dy md:p-0 transition duration-300;
    }

    .floating-shadow-lg {
        @apply shadow-[rgba(13,_38,_76,_0.19)_0px_9px_20px];
    }

    .highlight-text {
        @apply bg-yellow;
    }
}
